<!DOCTYPE html>
<html lang="en">

    <style>
        body, html {
          height: 100%;
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }
        
        .hero-image {
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
          height: 70%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
        }
          
        </style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    
    <% layout('layouts/boilerplate')%>

    
    <img class="hero-image" src="http://localhost:3000/images/bg.png" alt="My_Logo">

    


</body>

</html>